<!DOCTYPE html>
<html>
<head>
  <title>Solid apm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <%= stylesheet_link_tag    "solid_apm/application", media: "all" %>
  <%= javascript_include_tag "solid_apm/application", "data-turoblinks-track": "reload", type: "module" %>
  <%= javascript_include_tag "solid_apm/controllers/transaction-chart_controller", "data-turoblinks-track": "reload", type: "module" %>
  <%= javascript_include_tag "solid_apm/controllers/spans-chart_controller", "data-turoblinks-track": "reload", type: "module" %>
</head>

<body style="overflow: scroll">
  <section class="section">
    <%= yield %>
  </section>

  <% if flash[:error] %>
    <div class="notification is-danger mb-1" style="width: 20em; position: absolute; bottom: 1em; right: 1em;">
      <button class="delete"></button>
      <%= flash[:error] %>
    </div>
  <% end %>
</body>

</html>
