<h1 class="title">Solid APM</h1>

<%= form_with path: transactions_path, method: :get do |f| %>
  <div class="is-flex is-flex-direction-row is-justify-content-center is-align-items-center" style="gap: 1em">
    <%= f.number_field :from_value, value: params[:from_value] || 60, min: 1, class: 'input', style: 'width: 6em' %>
    <div class="select">
      <%= f.select :from_unit, {
        "minutes" => "minutes",
        "hours" => "hours",
        "days" => "days",
        "weeks" => "weeks",
        "months" => "months",
        "years" => "years"
      }, {selected: params[:from_unit] || 'minutes' } %>
    </div>
    <b>→</b>
    <%= f.number_field :to_value, value: params[:to_value] || 1, min: 1, class: 'input', style: 'width: 6em' %>
    <div class="select">
      <%= f.select :to_unit, {
        "seconds" => "seconds",
        "minutes" => "minutes",
        "hours" => "hours",
        "days" => "days",
        "weeks" => "weeks",
        "months" => "months",
        "years" => "years"
      }, {selected: params[:to_unit] || 'seconds' } %>
    </div>
    <%= f.submit 'Apply', class: 'button' %>
  </div>
<% end %>
<div class="columns pt-2">
  <div class="column">
    <h2 class="ml-4">Throughput</h2>
    <div data-controller="transaction-chart"
         data-transaction-chart-name-value="tpm"
         data-transaction-chart-color-value="#43BCCD"
         data-transaction-chart-data-value="<%= @throughput_data.to_json %>"></div>
  </div>
  <div class="column">
    <h2 class="ml-4">Latency</h2>
    <div data-controller="transaction-chart"
         data-transaction-chart-name-value="ms"
         data-transaction-chart-color-value="#13d8aa"
         data-transaction-chart-data-value="<%= @latency_data.to_json %>"></div>
  </div>
</div>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latency</th>
      <th>tmp</th>
      <th>95p</th>
      <th>Impact</th>
    </tr>
  </thead>

  <% @aggregated_transactions.each do |name, aggregation| %>
    <tr>
      <td><%= link_to name, transaction_by_name_path(name) %></td>
      <td><%= aggregation.latency.round(2) %> ms</td>
      <td><%= aggregation.tmp.round(2) %></td>
      <td><%= aggregation.percentile_95.round(2) %> ms</td>
      <td>
        <progress class="progress is-warning" value="<%= aggregation.impact %>" max="100"></progress>
      </td>
    </tr>
  <% end %>
</table>
