<% if params[:name] %>
  <h1 class="title"><%= link_to '⬅ ', transactions_path(
    from_value: params[:from_value],
    from_unit: params[:from_unit],
    to_value: params[:to_value],
    to_unit: params[:to_unit]) %><%= params[:name] %></h1>
<% else %>
  <h1 class="title">Solid APM</h1>
<% end %>

<%= render 'time_range_form' %>
<%= render 'charts' %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latency</th>
      <th>tmp</th>
      <th>95p</th>
      <th>Impact</th>
    </tr>
  </thead>

  <% @aggregated_transactions.each do |name, aggregation| %>
    <tr>
      <td><%= link_to name, transactions_path(
        from_value: params[:from_value],
        from_unit: params[:from_unit],
        to_value: params[:to_value],
        to_unit: params[:to_unit],
        name: name) %>
      <td><%= aggregation.latency.round(2) %> ms</td>
      <td><%= aggregation.tmp.round(2) %></td>
      <td><%= aggregation.percentile_95.round(2) %> ms</td>
      <td>
        <progress class="progress is-warning" value="<%= aggregation.impact %>" max="100"></progress>
      </td>
    </tr>
  <% end %>
</table>

<% if params[:name] %>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Type</th>
        <th scope="col">Duration</th>
        <th scope="col">Metadata</th>
      </tr>
    </thead>
    <tbody>
    <% @transactions_scope.order(timestamp: :desc).each do |transaction| %>
      <tr>
        <td><%= link_to transaction.name, transaction_spans_path(uuid: transaction.uuid) %></td>
        <td><%= transaction.timestamp %></td>
        <td><%= transaction.type %></td>
        <td><%= transaction.duration.round(2) %></td>
        <td><%= transaction.metadata %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
